@font-face {
  font-family: "Georgia";  
  src: local("Georgia"),    
    url("../../../assets/fonts/Georgia.woff2") format("woff2"),
    url("../../../assets/fonts/Georgia.woff") format("woff");    
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Arial";
  src: local("Arial"),      
    url("../../../assets/fonts/ArialMT.woff2") format("woff2"),
    url("../../../assets/fonts/ArialMT.woff") format("woff");    
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {  
  scroll-behavior: smooth;
}

body {
  font-family: "Georgia";
  font-size: 15px;    
}

body.lock {   
  overflow: hidden;  
}

.container {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1280px;
} 

.button-reset {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;    
  cursor: pointer;
}

/**********HEADER**********/

.header {
  position: relative; 
  margin: 0 auto; 
  max-width: 1280px;
}

.header__container {
  position: absolute;
  top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header__logo {
  text-decoration: none;
}

.logo__title {
  margin-bottom: 14px;  
  font-size: 32px;
  font-weight: 400;       
  letter-spacing: 0.06em;      
  color: #F1CDB3;
}

.logo__subtitle {
  padding: 0 0 0 5px;
  font-family: "Arial";
  font-size: 13px;    
  letter-spacing: 0.098em;  
  color: #FFF;
}

.nav {
  margin-top: -1px;
  margin-right: 2px;
}

.header__burger {
  position: relative;
  display: none;
  width: 28px;
  height: 50px;
  z-index: 3;
  transition: all .3s linear;
}

.header__burger.active {
  transform: rotate(90deg);
}

.burger__line {
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  width: 28px;
  height: 2px;
  background-color: #F1CDB3;
  transition: all .3s linear;
}

.burger__line:first-child {
  transform: translateY(-10px);
}

.burger__line:last-child {
  transform: translateY(10px);
}

.nav__list {
  display: flex;
  list-style: none;
}

.nav__item:not(:last-child) {
  margin-right: 35px;
}

.nav__link {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;    
  color: #CDCDCD;
  text-decoration: none;
  transition: color .3s linear;
}

.nav__link:hover {
  color: #FAFAFA;
}

.nav__link_active {
  padding-bottom: 3px;
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3; 
  pointer-events: none;    
  cursor: default;
}

/**********HERO**********/

.hero {
  padding-top: 180px;
  background: url("../../../assets/images/noise_lines_transparent@2X.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;  
}

.hero__container {
  display: flex;
  justify-content: space-between;  
}

.hero__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -80px;
  max-width: 460px;
}

.hero__title {
  max-width: 310px;
  margin-bottom: 41px; 
  font-size: 44px;
  font-weight: 400;
  line-height: 130%;       
  color: #FFFFFF;
}

.hero__text {
  margin-bottom: 42px;
  font-family: "Arial";
  line-height: 160%;
  color: #CDCDCD;
}

.hero__button {
  padding: 17px 45px 17px 45px;
  width: fit-content;
  font-family: 'Georgia';    
  font-size: 17px;      
  letter-spacing: 0.06em;        
  color: #292929;
  background-color: #F1CDB3;
  border-radius: 100px;
  text-decoration: none;
  transition: all .3s linear;
}

.hero__button:hover {
  background-color: #FDDCC4;
}

.hero__img {
  width: 58.15%;
  object-fit: cover;
}

/**********ABOUT**********/

.about {
  padding: 80px 0 100px;
}

.about__container {  
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 930px;
}

.about__img {
  width: 35.4%;
  margin-right: 25px;
}

.about__info {
  display: flex;
  flex-direction: column;
  max-width: 430px;
}

.about__title {
  margin-bottom: 25px;
  max-width: 370px;
  font-size: 35px;
  font-weight: 400;
  line-height: 130%;   
  letter-spacing: 0.06em;        
  color: #545454;
}

.about__text {
  font-family: 'Arial';   
  font-size: 15px;
  line-height: 160%;            
  color: #4C4C4C;
}

.about__text:not(:last-child) {
  margin-bottom: 25px;
}

/**********PETS**********/

.pets {
  padding: 80px 0 100px;
  background-color: #F6F6F6;
}

.pets__container {  
  position: relative;  
}

.pets__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;  
  font-size: 35px;
  font-weight: 400;
  line-height: 130%;   
  letter-spacing: 0.06em;    
  color: #545454;  
}

.pets__slider {
  position: relative;
  display: flex;
  justify-content: center;  
}

.slider__navigation {
  position: absolute;
  top: 191px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button__circle_left {  
  position: relative;
  flex-shrink: 0;
  /* margin-top: 191px;   */
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  transition: all .3s linear;
}

.button__circle_left:hover {
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.button__circle_right {  
  position: relative;
  flex-shrink: 0;
  /* margin-top: 191px;  */
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;  
  transition: all .3s linear;
}

.button__circle_right:hover {
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.arrow-left {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 6px;
  background-image: url("../../../assets/images/arrow-left.png");
  transform: translate(-50%, -50%);
}

.arrow-right {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 6px;
  background-image: url("../../../assets/images/arrow-right.png");
  transform: translate(-50%, -50%);
}

.slider__cards {
  display: flex;
  justify-content: space-between;  
  margin: 0 10px 61px;
  width: 82.6%;
  list-style: none;  
  z-index: 1;  
}

.slider__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAFAFA;
  border-radius: 9px;
  cursor: pointer;
  transition: all .3s linear;
}

.slider__item:not(:last-child) {
  margin-right: 40px;
}

.slider__item:hover {
  background-color: #FFFFFF;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.slider__item:hover .slider__button{
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
} 

.slider__img {
  margin-bottom: 30px; 
  width: 100%; 
}

.slider__name {
  margin-bottom: 34px;
  font-size: 20px;    
  letter-spacing: 0.06em;        
  color: #545454;
}

.slider__button {
  margin-bottom: 30px;
  padding: 15px 45px 15px 45px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  font-family: 'Georgia';
  font-size: 17px;        
  letter-spacing: 0.06em;      
  color: #292929;
  transition: all .3s linear;
}

.pets__button {
  display: block;
  margin: 0 auto;
  padding: 18px 45px 16px 45px;
  width: fit-content;  
  border-radius: 100px;
  font-family: 'Georgia';  
  font-weight: 400;
  font-size: 17px;        
  letter-spacing: 0.06em;        
  color: #292929;  
  background-color: #F1CDB3;  
  text-decoration: none;
  transition: all .3s linear;
}

.pets__button:hover {
  background-color: #FDDCC4;
}

/**********HELP**********/

.help {
  padding: 80px 0 101px;
}

.help__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.help__title {
  margin-bottom: 60px;
  max-width: 310px;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
}

.help__list {
  display: flex;
  justify-content: center;  
  flex-wrap: wrap;
  gap: 59px 120px;
  list-style: none;
}

.help__item { 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help__icon {
  margin-bottom: 30px;
  width: 60px;
  height: 60px;
}

.help__text {  
  font-weight: 400;
  font-size: 20px;   
  letter-spacing: 0.06em;       
  color: #545454;
}

/**********DONATION**********/

.donation {
  padding: 80px 0 98px;
  background-color: #F6F6F6;
}

.donation__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.donation__img {  
  margin-right: 29px;
  width: 42%;
}

.donation__info {
  display: flex;
  flex-direction: column;
}

.donation__title {  
  margin-bottom: 20px;
  max-width: 300px;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;   
  letter-spacing: 0.06em;      
  color: #545454;
} 

.donation__bank {     
  margin-bottom: 20px; 
  font-size: 15px;
  line-height: 110%;    
  letter-spacing: 0.06em;     
  color: #545454;
}

.bank__link {
  display: flex;
  margin-bottom: 20px;
  padding: 10px 15px;
  max-width: 350px;
  background-color: #F1CDB3;
  border-radius: 9px;
  text-decoration: none;
  transition: all .3s linear;
}

.bank__link:hover {
  background-color: #FDDCC4;
}

.bank__img {
  margin-right: 15px;  
  width: 30px;
  height: 23px;
  background-image: url("../../../assets/images/credit-card.svg");
}

.bank__number {  
  font-size: 20px;
  line-height: 115%;   
  letter-spacing: 0.06em;    
  color: #545454;
}

.donation__text {
  max-width: 380px;
  font-family: 'Arial';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;     
  color: #B2B2B2;
}

/**********FOOTER**********/

.footer {
  padding-top: 40px;
  background: url("../../../assets/images/noise_lines_transparent@2X.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 16px 0 60px;
  width: 759px;  
  
}

.footer__info {
  display: flex;
  flex-direction: column;  
  margin-right: 20px;
}

.footer__title {
  max-width: 279px;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%; 
  letter-spacing: 0.06em; 
  color: #FFFFFF;
}

.footer__title_left {
  margin-bottom: 39px;
}

.footer__title_right {
  margin-bottom: 32px;
}

.footer__link {
  display: flex;
  align-items: center;  
  text-decoration: none;
  transition: all .2s linear;
}

.footer__link_left {
  margin-bottom: 40px;
}

.footer__link_right {
  margin-bottom: 33px;
}

.footer__link:hover .link__text{
  color: #FFFFFF;
}

.link__img {
  margin-right: 20px;   
}

.footer__link:hover .link__img {
  filter: brightness(0) saturate(100%) invert(93%) sepia(100%) saturate(28%) hue-rotate(32deg) brightness(104%) contrast(110%);
}

.email {
  width: 40px;
  height: 32px;
  background-image: url("../../../assets/images/icon-email.svg");
}

.phone {
  width: 40px;
  height: 32px;
  background-image: url("../../../assets/images/icon-phone.svg");
}

.marker {
  width: 22px;
  height: 32px;
  background-image: url("../../../assets/images/icon-marker.svg");
}

.link__text {
  max-width: 258px;
  font-size: 20px;
  line-height: 115%; 
  letter-spacing: 0.06em;
  color: #F1CDB3;
  transition: all .2s linear;
}

.footer__img {
  width: 25%;
  object-fit: contain;
}

@media (max-width: 1024px) {
  .container {
    padding: 0 30px;
  }  

  .hero {
    padding-top: 230px;
    padding-bottom: 2px;
  }

  .hero__container {
    flex-direction: column;
    align-items: center;
  }

  .hero__info {
    margin-bottom: 100px;
  }

  .hero__text {
    margin-bottom: 44px;

  }

  .hero__button {
    align-self: center;
  }

  .hero__img {
    align-self: flex-end;
    width: 80%;
  }

  .about__container {
    display: flex;
    flex-direction: column;
    max-width: 930px;
  }

  .about__img {
    width: 42.2%;
    margin-right: 0;
    order: 3;
  }

  .about__info {
    margin-bottom: 80px;
  }

  .help__list {
    gap: 59px 60px;
  }

  .help__item {
    width: 24%;
  }

  .donation {
    padding: 80px 0 100px;    
  }

  .donation__container {
    flex-direction: column;
  }

  .donation__info {
    margin-bottom: 60px;
  }

  .donation__img {
    margin-right: 0;
    width: 71%;
    order: 2;
  }

  .slider__cards {    
    justify-content: center;   
  }

  .slider__item:last-child {
    display: none;
  }  

  .slider__item:not(:last-child) {
    margin-right: 0;
  }

  .slider__item:first-child {
    margin-right: 40px;
  }

  .footer {
    padding-top: 14px;    
  }

  .footer__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer__wrapper {    
    width: 90%;
    margin: 16px 0 66px;
  }

  .footer__info {    
    margin-right: 0;
  }

  .footer__info:first-child {
    margin-right: 20px;
  }
  
  .footer__img {
    width: 42.4%;   
  }
}

@media (max-width: 767px) {  
  .body__wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;    
  }

  .header__shadow {    
    opacity: 0;      
    z-index: 1;
  }
  
  .header__shadow.active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(41, 41, 41, 0.6);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    opacity: 1;
  }
  
  .nav {
    position: absolute;
    top: -30px;    
    right: -100%;
    width: 320px;
    height: 100vh;
    display: flex;       
    background-color: #292929;
    overflow: auto;       
    transition: all .3s linear;
    z-index: 2;
  }

  .nav.active {     
    right: 0;       
  }

  .header__burger {
    display: block;
  }

  .nav__list {    
    flex-direction: column;
    margin: 260px auto 0;
    text-align: center;
  }  

  .nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 60px;
  }

  .nav__link {
    font-size: 32px;
  }

  .nav__link_active {
    padding-bottom: 3px;
    color: #FAFAFA;
    border-bottom: 3px solid #F1CDB3;
    pointer-events: none;
    cursor: default;
  }

  .nav__link:hover {
    color: #CDCDCD;
  }

  .nav__link_active {
    padding-bottom: 7px;    
  }

  .hero__button:hover {
    background-color: #F1CDB3;
  }

  .pets__button:hover {
    background-color: #F1CDB3;
  }

  .slider__navigation {   
    top: auto;
    bottom: 42px;   
    width: 184px;
  }

  .slider__cards {    
    margin: 0 10px 114px;    
  }

  .slider__item:first-child {
    margin-right: 10px;
  }  

  .help__item {
    width: fit-content;
  } 

  .bank__link:hover {
    background-color: #F1CDB3;
  }

  .footer__wrapper {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .footer__info {      
    align-items: center;
  }

  .footer__info:first-child {
    margin-right: 0;
    margin-bottom: 40px;
  }

  .footer__title {
    text-align: center;
  }

  .footer__link:hover .link__text {
    color: #F1CDB3;
  }

  .footer__link:hover .link__img {
    filter: none;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 20px;
  }

  .hero__container {
    padding: 0 10px;
  }

  .hero__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -80px;
    margin-bottom: 104px;
    max-width: 460px;
  }

  .hero__title {   
    max-width: 263px;
    font-size: 25px;   
    letter-spacing: 0.06em;
    text-align: center;
  }

  .hero__text {
    max-width: 300px;
    font-size: 15px;      
    text-align: center;
  }

  .hero__img {   
    width: 86.5%;
  }

  .about {
    padding: 41px 0 41px;
  }

  .about__container {
    padding: 0 23px;
  }

  .about__info {
    margin-bottom: 42px;
  }

  .about__title {      
    font-size: 25px;
    text-align: center;      
  }  

  .about__text {
    text-align: justify;
  }

  .about__text:not(:last-child) {
    margin-bottom: 21px;
  }

  .about__img {
    width: 95.2%;
  }

  .pets {
    padding: 42px 0 43px;    
  }

  .pets__container {
    padding: 0 17px;
  }

  .pets__title {  
    margin-bottom: 41px;
    font-size: 25px;    
  }

  .slider__cards {
    width: 100%;
  }

  .slider__item {
    width: 270px;
  }

  .slider__item:first-child {
    margin-right: 0;
  }

  .slider__item:nth-child(2) {
    display: none;
  }

  .slider__img {   
    width: 100%;
  }

  .help {
    padding: 42px 0 40px;
  }

  .help__container {
    padding: 0 15px;
  }

  .help__title {    
    margin-bottom: 41px;
    max-width: 265px;
    font-size: 25px;    
  }

  .help__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 33px 28px;
  }

  .help__item {
    width: 130px;    
  }  

  .help__icon {
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
  }

  .help__text {    
    font-size: 15px;   
  }

  .donation {
    padding: 41px 0 42px;    
  }

  .donation__title { 
    margin-bottom: 24px;
    max-width: 229px;
    font-size: 25px;
    text-align: center;    
  }

  .donation__info {
    justify-content: center;
    align-items: center;
    margin-bottom: 42px;
  }

  .donation__bank {  
    margin-bottom: 25px;  
    letter-spacing: normal;    
  }

  .bank__link {   
    padding: 12px 14px 8px 14px;
  }

  .bank__number {
    font-size: 15px;   
  }

  .donation__text {
    text-align: justify;
  }

  .donation__img {    
    width: 93%;    
  }

  .footer__container {
    padding: 0 10px;
  }

  .footer__wrapper { 
    margin: 16px 0 42px;
    width: 100%;
  }

  .footer__title {    
    font-size: 25px;    
  }

  .footer__title_right {
    margin-bottom: 38px;
  }

  .footer__link_right {
    margin-bottom: 39px;
    align-self: flex-start;
  }

  .footer__link_right2 {
    align-self: flex-start;
  }

  .footer__img {
    width: 86.4%;
  }
}